<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title | title}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        {% include('header.html') %}
        {% include('nav.html') %}
        <main>
            <h2>Main</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni facere aut reiciendis temporibus expedita id ea delectus quia, nihil laudantium nisi autem, impedit ex magnam soluta! Dolorum consectetur quibusdam iusto?</p>
        </main>
        {% include('footer.html') %}        
    </div>
</body>
</html>