<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title | title}}</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        {% include('header.html') %}
        {% include('nav.html') %}
        <main>
            <h2>Main</h2>
            
            <address>
                Lorem ipsum dolor sit amet.
            </address>

            <p>Call: 9015041412 </p>

        </main>
        {% include('footer.html') %}        
    </div>
</body>
</html>